{% macro about() %}
<div class="user-details">
  <h1> My Expertise </h1>
  <!-- <p> {{ config.extra.user_description }} </p> -->

</div>
  <div class="user">

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/devicons/devicon@v2.15.1/devicon.min.css">
          
    <div class="tech">
      <h2>Coding Languages</h2>
      <i class="devicon-python-plain-wordmark colored"></i>
      <i class="devicon-mysql-plain-wordmark colored"></i>
      <i class="devicon-rstudio-plain colored"></i>
      <p>Python, R, R Shiny, Git, SQL,
        MATLAB, Microsoft Office Suite</p>
    </div>
    <div class="tech">
      <h2>Tools & Libraries</h2>
      <i class="devicon-numpy-original-wordmark colored"></i>  
      <i class="devicon-pytorch-plain-wordmark colored"></i>
      <i class="devicon-pandas-original-wordmark colored"></i>
      <i class="devicon-tensorflow-original-wordmark colored"></i>   
      <p>Pandas, NumPy, Scikit-Learn,
        Data Visualization, Machine Learning Models, Deep
        Learning, Natural Language Processing (NLP), Data
        Mining, Caret, dplyr, Tableau, Keras, PyTorch,Time Series
        Analysis, Hypothesis Testing, Experimental Design</p>
    </div>
    <div class="tech">
      <h2>Cloud Platform</h2>   
      <i class="devicon-amazonwebservices-plain-wordmark colored"></i>
      <i class="devicon-azure-plain-wordmark colored"></i>
      <p>Hadoop, Spark, Hive, AWS, Azure, Data Warehousing, Data Pipelines</p>
    </div>
    <div class="tech">
      <h2>Model Deployment</h2>
      <i class="devicon-docker-plain-wordmark colored"></i>
      <i class="devicon-flask-original-wordmark colored"></i>
      <p>Docker, Flask</p>
</div>
{% endmacro about %}

{% macro education() %}
  <div class="user-details" style="padding: 0 20px;">
    <h1> Education </h1>
    <p> {{ config.extra.education_description }} </p>
  </div>
  <div class="user" style="display: flex; justify-content: space-between; padding: 0 20px;">
    <div class="tech" style="text-align: center;">
      <img src="{{ config.base_url ~ "/img/duke_logo.jpeg" }}" alt="Duke University Logo" style="max-width: 300px; height: 200px; margin-left: 20px;margin-bottom: 10px;">
      <h2 style="font-size: .4em;">Masters in Data Science</h2>
      <p>
        <h4>Graduating in May 2025 </h4>
        <h3> Courses Completed/Ongoing: </h3>
        <p> 1.Modeling and Representation of Data <br>
        2.Principles of Machine Learning<br>
        3.Data Analysis Scale at Cloud<br>
        4.Introduction to Natural Language Processing<br>
        5.Statistical Computation<br>
        6.Casual Inference<br>
        7.Data Engineering Tools<br>
        8.Practicing Data Science : Tools<br> </p>
        <h4>GPA: 4.0</h4>
      </p>
    </div>
    <div class="tech" style="text-align: center;">
      <img src="{{ config.base_url ~ "/img/anu_logo.jpeg" }}" alt="Australian National University Logo" style="max-width: 300px; height: 200px;margin-right: 20px; margin-bottom: 10px;">
      <h2 style="font-size: .4em;">Undergraduate in Mechatronic Systems</h2>
      <p>
        Bachelor of Engineering with Honours -
        Mechatronic Systems,<br>
        Graduated in 2021
      </p>
    </div>
  </div>
{% endmacro education %}



{% macro projects() %}
<div class="user-details">
  <h1> Featured Projects </h1>
</div>
<div class="user-projects">
  <div class="images-right">
    <img alt="mountains" src="{{ config.base_url ~ "/img/financial.jpeg" }}" />
  </div>
  <div class="contents">
    <h3>Financial Stock Analysis </h3>
    <ul>
    <!-- <li> Featured Skills</li> -->
    </ul>
    <p>Created a Flask App hosted on Azure
      for public access, utilizing Delta Tables from Databricks,
      Docker image from DockerHub, Azure Web App for
      deployment, and external APIs for data predictions.</p>
    <!-- <a class="project-link" href="#">Check it out</a> -->
  </div>
</div>
<div class="user-projects">
  <div class="images-left">
    <img alt="mountains" src="{{ config.base_url ~ "/img/document.png" }}" />
  </div>
  <div class="contents-right">
    <h3>Document Classification</h3>
    <ul>
    <!--  <li> Featured Skills</li> -->
    </ul>
    <p>Developed models for categorizing
      documents based on content.</p>
    <!--  <a class="project-link" href="#">Check it out</a> -->
  </div>
</div>
</div>
<div class="user-projects">
  <div class="images-right">
    <img alt="mountains" src="{{ config.base_url ~ "/img/Police.jpg" }}" />
  </div>
  <div class="contents-left">
    <h3>Behind the Badge</h3>
    <ul>
    <!--  <li> Featured Skills</li> -->
    </ul>
    <p>Decoding Police Shootings in America - A
      Socioeconomic Inquiry</p>
    <!-- <a class="project-link" href="#">Check it out</a> -->
  </div>
</div>
</div>
<div class="user-projects">
  <div class="images-left">
    <img alt="mountains" src="{{ config.base_url ~ "/img/markov.png" }}" />
  </div>
  <div class="contents-right">
    <h3>Markov Text Generation</h3>
    <ul>
    <!--  <li> Featured Skills</li> -->
    </ul>
    <p>Implemented a text generation
      model using Markov chains</p>
    <!-- <a class="project-link" href="#">Check it out</a> -->
  </div>
</div>
</div>
<div class="user-projects">
  <div class="images-right">
    <img alt="mountains" src="{{ config.base_url ~ "/img/pos.jpeg" }}" />
  </div>
  <div class="contents-left">
    <h3>POS Tagging Project</h3>
    <ul>
    <!--  <li> Featured Skills</li> -->
    </ul>
    <p>Analyzed parts of speech in text using
      Natural Language Processing techniques.</p>
    <!-- <a class="project-link" href="#">Check it out</a> -->
  </div>
</div>
{% endmacro projects %}